:host {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.mat-toolbar {
  // min-width: 849px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .spacer {
    margin-right: auto;
  }

  app-column-selector {
    margin-top: 16px;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  :host {
    margin: 0px;
  }

  .mat-toolbar {
    min-width: unset;
    border-radius: 0px;
  }
}
