<table mat-table matSort (matSortChange)="onSort($event, paginator)" [dataSource]="datasource" class="mat-elevation-z1">
    <ng-container *ngFor="let title of displayedColumns">
        <ng-container [matColumnDef]="title">
            <th mat-header-cell [mat-sort-header]="title" *matHeaderCellDef> {{ title | deslugify | cammelCase }} </th>
            <td mat-cell *matCellDef="let element"> {{element[title] | join: ', ' }} </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator class="mat-elevation-z2" (page)="onPaginatorChange($event)" [length]="datasource.length | async"
    [pageSize]="datasource.pageSize | async" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>