:host {
    display: block;
}

.mat-drawer-container {
    height: calc(100vh - 64px);
}

.content {
    overflow: auto;

    .router-outlet > * {
        overflow: auto;
    }
}

.mat-drawer.mat-sidenav {
    min-width: 200px;
}

.mat-toolbar {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;

    .menu-toggle {
        margin-right: 5px;
    }
    
    .title {
        font-family: 'Racing Sans One', cursive;
        margin-right: 20px;
    }
}


.routing {
    margin-right: 5px;
    .page {
        margin: 2px 8px;
        cursor: pointer;

        &:hover {
            border-left: 4px solid #6c757d;
            margin-left: 4px;
        }

        &.active {
            border-left: 4px solid #2429b3;
            margin-left: 4px;
        }
    }
}
