<mat-toolbar color="primary" class="mat-elevation-z2">
  <button class="menu-toggle" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">{{ title | cammelCase }}</span>
  <router-outlet name="actions"></router-outlet>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="showSidenav">
    <mat-list class="routing">
      <mat-list-item class="page" [routerLink]="['/app/dashboard']" routerLinkActive="active"> Dashboard </mat-list-item>
      <mat-list-item class="page" [routerLink]="['/app/table']" routerLinkActive="active"> Data Viewer </mat-list-item>
      <mat-list-item class="page" [routerLink]="['/app/graphs']" routerLinkActive="active"> Graph Viewer </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>