<mat-toolbar color="primary" class="mat-elevation-z2" [ngClass]="{ 'sidenav-show': showSidenav }">
  <button class="menu-toggle" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">{{ title | cammelCase }}</span>
  <router-outlet name="actions"></router-outlet>
  <button
    mat-mini-fab
    color="accent"
    class="user-profile"
    mat-tooltip="User"
    aria-label="Open user menu"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" (openedChange)="sidenavOnOpenedChange($event)" [opened]="showSidenav">
    <mat-list class="routing">
      <mat-list-item class="page" [routerLink]="['/app/dashboard']" routerLinkActive="active">
        Dashboard
      </mat-list-item>
      <mat-list-item class="page" [routerLink]="['/app/table']" routerLinkActive="active"> Table Viewer </mat-list-item>
      <mat-list-item class="page" [routerLink]="['/app/graphs']" routerLinkActive="active">
        Graph Viewer
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
