<app-random-bg class="contents" [assets]="loginBackgrounds">
  <mat-card class="signin">
    <div class="title">Statflix</div>
    <h1 class="welcome">Welcome</h1>
    <p class="description">Log in to continue to your dashboard.</p>
    <form (ngSubmit)="formOnSubmit()">
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. job@good.company"
        />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="passwordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Password"
        />
        <mat-error *ngIf="emailFormControl.hasError('required')"> Password is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-error *ngIf="emailFormControl.hasError('incorrect') || passwordFormControl.hasError('incorrect')">
        <span class="incorrect-login">The credentials you have entered are incorrect.</span>
      </mat-error>
      <a class="forgot" (click)="forgotPasswordOnClick()">Forgot Password?</a>
      <button mat-flat-button color="primary">Continue</button>
    </form>
  </mat-card>
</app-random-bg>
<div class="banner">
  <span>Username: user@your.company</span>
  <span>Password: welcome</span>
</div>
