<button mat-icon-button color="info" aria-label="Example icon button with a home icon">
    <mat-icon>filter_list</mat-icon>
</button>
<button mat-icon-button color="info" aria-label="Example icon button with a home icon">
    <mat-icon>visibility</mat-icon>
</button>

<span class="spacer"></span>

<mat-form-field class="search" appearance="fill">
    <input #search matInput placeholder="Search" value="">
    <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="search.value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>