@import '../../../variables';

:host {
    display: block;
}

.mat-table {
    width: 100%;
    margin-bottom: 56px;
    height: calc(100vh - 56px);

    th {
        font-weight: bold;
    }

    td.cdk-column-show_id {
        padding-left: 20px;
    }

    .cdk-column-show_id,
    .cdk-column-type {
        width: 80px;
    }

    .cdk-column-title {
        width: 200px;
    }

    .cdk-column-director {
        width: 180px;
    }

    .cdk-column-cast {
        max-width: 500px;
    }

    th,
    td {
        padding: 0px 5px;
        min-width: 70px;
    }

    td {
        vertical-align: top;
    }
}

.mat-paginator {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}